//Add RSS
md-layout(md-flex="100")

    //Category select panel
    post-edit-select-category(
        v-if="categorySelDlg",
        :onSelectCategory="onSelectCategory",
        :selectedIDsInit="selectedIDsCat",
        :setAddPostSelCatVis="closeSelCategory"
    )


    md-layout(md-flex="100", v-show="!categorySelDlg")
        md-layout.brdb(md-flex="100")
            md-layout(md-flex="50")
                h2 {{$t('Rss_adding')}}
            md-layout(md-flex="50", md-align="end")
                md-button.md-icon-button.md-raised(
                    :title="$t('Back_to_rss_list')", 
                    @click="closeFn"
                )
                    md-icon
                        | close

        md-layout(md-flex="100")
            md-input-container
                label
                    | {{$t('Title')}}

                md-input(
                    type="text",
                    :placeholder="$t('Title')",
                    v-model="addObj.title",
                    name="Title", 
                    v-validate="'required'", 
                    data-vv-delay="1000", 
                    :class="{'input': true, 'is-danger': errors.has('Title') }",
                )
                md-layout.c-red(
                    v-show="errors.has('Title')", 
                    column="", 
                    md-align="end") 
                    | {{ errors.first('Title') }}

        md-layout(md-flex="100")
            md-input-container
                label
                    | {{$t('Description')}}
                md-input(
                    :placeholder="$t('Description')",
                    v-model="addObj.description"
                )

        md-layout(md-flex="100")
            | {{$t('Selected_categories')}}: {{getCategories}}
                


        //Выбор языка
        md-layout(
            md-flex="50", 
            md-align="end", 
            md-flex-offset="50",
            v-show="$store.getters.getLangsContentSelected.length>1"
        )
            select-content-language


        md-layout(md-flex="100", md-align="end")
            md-button.md-raised.md-primary(
                @click="selCategory"
            )
                md-icon view_module
                span.plr5 {{$t('categories')}}
            md-button.md-raised(
                @click="closeFn"
            )
                | {{$t('Cancel')}}
            md-button.md-raised.md-primary(
                @click="addRSS",
                :disabled="selectedIDsCat.length==0"
            )
                | {{$t('Add')}}