md-layout.pad5.auth(md-flex="100")
	md-layout(md-flex="100")
		//Login indicator
		md-layout.pad15(
			md-flex="100", 
			md-align="center", 
			md-vertical-align="center", 
			v-if="getLoginIndicator"
		)
			md-layout(
				md-flex="100", 
				md-align="center"
			)
				h2 {{$t('enter')}}...
			md-layout(
				md-flex="100", 
				md-align="center"
			)
				md-spinner(
					:md-size="150", 
					md-indeterminate=""
				)

		//Login form
		md-layout(
			md-flex="100", 
			v-show="!getLoginIndicator"
		)
			md-layout(md-flex="100")
				md-layout(
					md-flex-xsmall="0",
					md-flex-small="10",
					md-flex-medium="20",
					md-flex-large="30",
					md-flex-xlarge="30",
				)
				md-layout.auth(
					md-flex-xsmall="100",
					md-flex-small="80",
					md-flex-medium="60",
					md-flex-large="40",
					md-flex-xlarge="40",
				)
					md-layout.auth-bg.auth-top(md-flex="100")
						form.w100.auth-bg(
							novalidate="", 
							@submit.stop.prevent="submit"
						)
							//Title dialog
							h1.ac.w100
								| {{ $t('authentication') }}
							
							//Email
							md-input-container
								label
									| {{ $t('email') }}
								md-input(
									v-model="user.email",
									name="email", 
									v-validate="'required|email'", 
									data-vv-delay="200", 
									:class="{'input':true,\
											 'is-danger':errors.has('email')}",
									type="text",
									:placeholder="($t('email')==undefined)\
										?$t('email'):\
										''"
								)
							md-layout.c-red(
								v-show="errors.has('email')", 
								column="", 
								md-align="end") 
								| {{ errors.first('email') }}
								br 
								| &nbsp;
							
							//Password
							md-input-container
								label
									| {{ $t('password') }}
								md-input(
									type="password",
									v-model="user.password",
									name="password", 
									v-validate="'required'", 
									data-vv-delay="200", 
									:class="{'input': true,\
										 'is-danger':errors.has('password')}",
									:placeholder="($t('password')==undefined)\
										?$t('password')\
										:''"
								)
							md-layout.c-red(
								v-show="errors.has('password')", 
								column="", 
								md-align="end") 
								| {{ errors.first('password') }}
								br 
								| &nbsp;

							//Forgot password
							md-layout(md-align="end")
								md-toolbar.md-transparent.w100
									md-layout(md-align="start")
										router-link.md-title.fnt12(
											to="/forgot", 
											style="flex:1"
										)
											span.md-primary
												| {{ $t('forgot_password') }}
									md-button.md-raised.md-primary(
										@click="login"
									)
										| {{ $t('enter') }}

							//Current language
							md-layout.pt(md-align="end")
								a.mr15.fnt12(
									@click.prevent="toggleLangPanel", 
									href="#"
								)
									flag.mr5.icn-lng(:iso="langsCur.icon")
									| {{ $t(langsCur.name) }}

						//Registration button
						div.ac.w100(v-if="getSettings.REGISTRATION_SWITCHER")
							router-link.md-button.md-raised.register-btn(
								to="/register"
							)
								H3(style="color:white !important;") 
									| {{ $t('registration') }}

						div.ac.w100(v-if="!getSettings.REGISTRATION_SWITCHER")
							| &nbsp;

			//Language select panel
			md-sidenav.md-left(ref="leftSidenav")
				md-layout.sidebar-item-nav(
					md-column="", 
					md-vertical-align="stretch",
					v-for="itm in getLangs",
					:key="itm.id"
				)
					div.noselect(
						@click="setUILang(itm)",
						v-bind:class="{ active:itm.active }"
					)
						flag(:iso="itm.icon")
						| {{ $t(itm.name) }}
