md-layout.brdb.brdt(md-flex="100")
    md-layout.pad15(md-flex="100")
        md-layout.dlg.pad15(md-flex="100")
            md-layout.brdb(md-flex="100", md-align="center")
                h3.ac
                    | {{$t('Categories_selection')}}
                    | ({{$t('Selected')}}:
                    | {{selectedIDs.length}})

            //Breadcrumbs
            md-layout(md-align="start", md-vertical-align="center")
                span.mr5(
                    v-for="(itm,index) in getBreadcrumb(selectedCategoryID)", 
                    :key="itm.id"
                )
                    //Category name link
                    a(href="#", @click.prevent="enterCategory(itm)")
                        span.md-primary.fnt12
                            | {{itm['name_'+$store.getters.getContentLang]}}
                            span(v-if="itm.id!=selectedCategoryID")
                                | &rsaquo;
                    span.md-primary
                        .fnt14.bld 
                            | &nbsp;


                //Content language selector
                md-layout(
                    md-flex="50", 
                    md-align="end", 
                    md-flex-offset="50",
                    v-show="$store.getters.getLangsContentSelected.length>1"
                )
                    select-content-language


            //Categories paginator
            md-layout(md-flex="100", md-align="end")
                paginator.brdb(
                    :onChange="(pgNum)=>onPaginatorChange(pgNum)", 
                    :itemsCount="getCategoriesCountByID(\
                                    selectedCategoryID,pgNum)", 
                    :itemsPerPage="itemsPerPage"
                )


            //Categories list
            md-list.w100
                md-list-item(
                    v-for="itm in getCategoriesByID(selectedCategoryID,pgNum)", 
                    :key="itm.id"
                )
                    md-layout(md-flex="100", md-vertical-align="start")

                        //Category checkbox
                        md-layout(md-flex="10", md-vertical-align="start")
                            md-checkbox(
                                v-model="selectedIDs", 
                                :md-value="itm.id"
                            )
                        
                        //Category name
                        md-layout(md-flex="80", md-vertical-align="start")
                            label.lh40 
                                | {{itm["name_"+$store.getters.getContentLang]}}
                        
                        //Enter category button
                        md-layout(
                            md-flex="10", 
                            md-vertical-align="start", 
                            md-align="end"
                        )
                            md-button.md-icon-button.md-list-action.md-raised(
                                title="Enter category",
                                @click="enterCategory(itm)",
                                v-show="itm.hasChildren"
                            )
                                md-icon.icon-gray
                                    | chevron_right
                            md-divider.md-inset


            //Buttons OK/Cancel
            md-layout.pad5(md-flex="100", md-align="end")
                md-button.md-raised(@click="hideAddPostSelCatVis")
                    | {{$t('Cancel')}}
                md-button.md-raised.md-primary(@click="selectCategory")
                    | OK
